.content{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  padding-top: 5px;
  margin: 20px;
}
h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: larger;
  margin:20px;
}
p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  margin: 20px;
}
img{
  margin: 20px;
}
.Lataus{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding-top: 350px;
  font-size: larger;
  font-weight: bold;
  
}
.desc{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  padding-top: 5px;
  margin: 20px;
  text-transform: lowercase;
}
.desc:first-letter{
text-transform: uppercase;
}